body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(33, 37, 41);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



/* 
Colores

azul oscuro
#0f044c 
rgb(15,4,76)

azul 
#141e61
RGB(20,30,97)

gris
#787a91
rgb(120,122,145)

luz 
#eeeeee
rgb(238, 238, 238)


gris oscuro
rgb(35, 41, 49)

gris
rgb(57,62,70)

verde claro 
rgb(78,204,163)

*/